:root {
  /* Backgrounds */
  --color-backgrounds-primary: #fffcf8;
  --color-backgrounds-cream: #faf6f0;
  --color-backgrounds-medium: #95938f;
  --color-backgrounds-dark: #363533;
  --color-backgrounds-black: #000000;
  --color-backgrounds-light: #000000;

  /* Texts */
  --color-text-primary: #0f76d4;
  --color-text-primary-rgb: 15, 118, 212, 1;
  --color-text-dark: #004a9f;
  --color-text-lightWithOpacity: #f9f9f9f0;
  --color-text-lightWithAlpha: #fffcf899;
  --color-text-skeleton: #ebf1f5;
  --color-text-white: #ffffff;

  /* Links */
  --color-links-primary: #53b58c;
  --color-links-dark: #00815d;
  --color-links-dark: #bae1d1;

  /* Controls */
  --color-controls-primary: #f3bdd7;
  --color-controls-dark: #682b49;
  --color-controls-darkGrey: #682b4980;
  --color-controls-grey: #682b494d;
  --color-controls-light: #fae3eb;
  --color-controls-hover: #cb98b1;

  /* Accents */
  --color-accent-primary: #f2dc6a;
  --color-accent-dark: #f2dc6a;
  --color-accent-light: #fbf1b9;
  --color-accent-light: #d12136;
}

body,
html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/
    v4.0 | 20180602
    License: none (public domain)
  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ (2015/04/28)*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Additional resets */
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  text-align: inherit;
  outline: none;
  line-height: inherit;
  -webkit-appearance: none;
}
/* Fix antialiasing */
*,
*:before,
*:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Disable user select on everything but texts */
*,
*:before,
*:after {
  user-select: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
ul,
ol,
li,
table,
tr,
th,
td,
input,
textarea {
  user-select: text;
}

main.app {
  /* height: 100vh; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* min-height: calc(100vh - var(--navbar-height) - var(--footer-height)); */
  /* background-color: #1b1b1b; */
  /* color: cyan; */
}
